body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffcc00;
    padding: 20px;
}

.menu-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

img {
    max-width: 100%;
}
